* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}
.container {
  width: 1144px;
  height: auto;
  margin: 0 auto;
}
.header__wrapper {
  display: block;
  width: 1920px;
  height: 874px;
  background-image: url('./img/bg.png');
  background-size: contain;
}
.nav__box {
  padding-top: 32px;
  display: flex;

  justify-content: space-between;
}
.header__logo {
  display: block;
  width: 169px;
  height: 50px;
  padding-left: 20px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  width: 745px;
  height: 54px;
  align-items: center;
  font-family: 'Roboto';
}
.navigation a {
  text-decoration: none;
  color: #ffffff;
}
.header__box {
  display: flex;
}
.header__title__box {
  width: 500px;
  height: 371px;
  margin-right: 97px;
  padding-left: 23px;
  padding-top: 186px;
}
.header__title {
  color: #fff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 65px;
  line-height: 67px;
}
.header__span {
  width: 500px;
  color: green;
  margin-bottom: 40px;
  font-family: 'Roboto';
  font-size: 65px;
  line-height: 67px;
}
.header__text {
  color: #fff;
  margin-bottom: 62px;
  font-family: 'Roboto';
  font-size: 26px;
  line-height: 36px;
  font-weight: 300;
  display: block;
  width: 470px;
}
.header__button {
  width: 300px;
  height: 60px;
  font-size: 18px;
  background: linear-gradient(90deg, #fc4647 0%, #f06603 100%);
  box-shadow: 0px 10px 30px rgba(252, 70, 71, 0.6);
  border-radius: 40px;
  color: #fff;
  cursor: pointer;
}

.header__photo__rozetka {
  position: relative;
  width: 945px;
  height: 616px;
  padding-top: 50px;
  background-size: contain;
}

.header__computer {
  width: 520px;
  height: 504px;
  padding-top: 31px;
  padding-left: 62px;
}
.header__rozetka {
  position: absolute;
  top: 81%;
  left: 26%;
}

/*  ============First Section============  */
.second__container {
  width: 1272px;
  height: auto;
  margin: 0 auto;
}
.first__section {
  padding-top: 50px;
}
.firs__section__wrapper {
  display: flex;
}
.first__section__logo {
  padding-left: 92px;
  padding-top: 41px;
}
.macbook__img {
  width: 790px;
  height: 458px;
}

.firs__section__description {
  width: 470px;
  height: 306px;
  padding-top: 70px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 34px;
}
.text1 {
  margin-bottom: 35px;
  font-weight: normal;
}
.text2 {
  margin-bottom: 20px;
  font-weight: normal;
  width: 445px;
}

.orange__span {
  color: #fd6b00;
  font-weight: 700;
}
.green__span {
  color: #00a046;
  font-weight: 700;
}

.second__section {
  width: 1920px;
  height: 842px;
  background-image: url('./img//main\ 3.png');
  background-size: contain;
}
/*  ============Second Section============  */
.second__section__wrapper {
  padding-top: 130px;
  display: flex;
}
.left__box {
  width: 548px;
  height: 528px;
  margin-right: 7px;
  padding-left: 55px;
  padding-top: 110px;
}
.right__box {
  position: relative;
  border-radius: 20px;
  background-image: url('./img/Rectangle\ 2.png');
  background-repeat: no-repeat;
  background-position-y: 56px;
}
.photo__man {
  z-index: 10;
  display: block;
  width: 579px;
  padding-top: 23px;
  padding-left: 93px;
  height: 641px;
}

.second__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 67px;
  margin-bottom: 64px;
}
.second__span__green {
  color: green;
}
.right__box__rozetka {
  position: absolute;
  z-index: 13;
  top: 87%;
  left: 4%;
}
.left__box__list {
  position: relative;
  list-style: none;
  padding-left: 5px;
  font-size: 20px;
  margin-bottom: 20px;
}
.left__box__list::after {
  display: block;
  content: ' *';
  position: absolute;
  z-index: 666;
  left: -3%;
  top: 5%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: orangered;
}
.left__box__text1 {
  margin-bottom: 5px;
}
/*  ============Third Section============  */

.third__section {
  display: block;
  width: 1920px;
  height: 907px;
  background-image: url('./img/-e-bg\ \ 1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -110px;
}
.third__section__title {
  width: 725px;
  height: auto;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 25px;
}

.third__section__text {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 60px;
  line-height: 67px;
  text-align: center;
  padding-top: 160px;
  margin-bottom: 10px;
}
.third__section__text2 {
  width: 774px;
  height: 26px;
  margin-bottom: 25px;
  font-size: 29px;
}
.third__section__text3 {
  width: 700px;
  height: 26px;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 48px;
  padding-left: 90px;
}

/*  ============Fourth Section============  */

.fourth__section {
  width: 1920px;
}
.fourth__section__container {
  width: 1365px;
  height: auto;
  margin: 0 auto;
}
.fourth__section__tittle {
  position: relative;
  width: 666px;
  height: 68px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 58px;
  line-height: 67px;
  padding-top: 82px;
  margin-bottom: 120px;
}
.fourth__section__tittle::after {
  content: '';
  position: absolute;
  width: 100%;
  z-index: -1;
  left: 7%;
  top: 310%;
  border: 3px solid #efefeb;
}

.images__box {
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-flow: wrap;
}

.images__list {
  position: relative;
  display: flex;
  width: 400.92px;
  height: 121.06px;
  margin: 0 auto;
  margin-bottom: 48px;
  background: #ffffff;
  box-shadow: 0px 30px 40px rgba(75, 86, 127, 0.25);
  border-radius: 10px;
}
/* ---------------after line ------------------- */
.color__left::after {
  content: '';
  position: absolute;
  width: 100%;
  z-index: -1;
  left: 41%;
  top: 50%;
  border: 3px solid #efefeb;
}
.color__right::after {
  content: '';
  position: absolute;
  width: 100%;
  z-index: -1;
  left: -40%;
  top: 50%;
  border: 3px solid #efefeb;
}
.after__line1 {
  position: relative;
}
.after__line1::after {
  content: '';
  position: absolute;
  width: 453.96px;
  z-index: -1;
  transform: rotate(-90deg);
  left: -97%;
  top: 282%;
  border: 3px solid #efefeb;
}
.after__line2 {
  position: relative;
}
.after__line2::after {
  content: '';
  position: absolute;
  width: 300px;
  z-index: -1;
  transform: rotate(-90deg);
  left: 8%;
  top: 345%;
  border: 3px solid #efefeb;
}
.after__line3 {
  position: relative;
}
.after__line3::after {
  content: '';
  position: absolute;
  width: 150px;
  z-index: -1;
  transform: rotate(-90deg);
  left: -180%;
  top: 146%;
  border: 3px solid #efefeb;
}

/* ---------------------------------- */

.images__item {
  display: block;
  margin: 0 auto;
  padding-top: 35px;
}
.comp__img {
  width: 128.28px;
  height: 121.06px;
  background: linear-gradient(134.82deg, #fead7d 0%, #ce63a7 100%);
  border-radius: 10px 0px 0px 10px;
}
.artificial__img {
  width: 125px;
  height: 121.06px;
  background: linear-gradient(134.82deg, #65d1da 0%, #2a3d82 100%);
  border-radius: 10px 0px 0px 10px;
}
.vector2__img {
  width: 120.28px;
  height: 121.06px;
  background: linear-gradient(134.82deg, #deefc3 0%, #14b8bd 100%);
  border-radius: 10px 0px 0px 10px;
}
.customer__service__img {
  width: 123.28px;
  height: 121.06px;
  background: linear-gradient(134.82deg, #fcaf3b 0%, #f1561a 100%);
  border-radius: 10px 0px 0px 10px;
}
.image__description {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  width: 240.55px;
}

.fourth__section__left__box {
  height: auto;
}
.fourth__section__right__box {
  height: auto;
}
.items__box__wrapper {
  width: 1310px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
/* left box  */
.left__box__img1 {
  width: 140.28px;
  height: 121.06px;
  background-color: #fff;
  border-radius: 10px 0px 0px 10px;
}
.left__box__img2 {
  width: 128.28px;
  height: 121.06px;
  background: linear-gradient(134.82deg, #d9883b 0%, #fe5988 100%);
  border-radius: 10px 0px 0px 10px;
}
.left__box__img3 {
  width: 126.28px;
  height: 121.06px;
  background: linear-gradient(134.82deg, #b31c47 0%, #527ec8 100%);
  border-radius: 10px 0px 0px 10px;
}
/* right box  */
.right__box__img1 {
  width: 120.28px;
  height: 121.06px;
  background: linear-gradient(134.82deg, #d1e462 0%, #51e3a7 100%);
  border-radius: 10px 0px 0px 10px;
}
.right__box__img2 {
  width: 120.28px;
  height: 121.06px;
  background: linear-gradient(134.82deg, #7684c0 0%, #03bdef 100%);
  border-radius: 10px 0px 0px 10px;
}
.fourth__section__button {
  display: block;
  width: 300px;
  height: 60px;
  margin: 0 auto;
  font-size: 18px;
  background: linear-gradient(90deg, #fc4647 0%, #f06603 100%);
  box-shadow: 0px 10px 30px rgba(252, 70, 71, 0.6);
  border-radius: 40px;
  color: #fff;
  cursor: pointer;
}

/*  ============Five Section============  */
.five__section {
  width: 1920px;
  height: auto;
  padding-top: 120px;
  padding-bottom: 80px;
}
.five__section__container {
  width: 1360px;
  margin: 0 auto;
}
.five__section__content__box {
  width: 1000px;
  position: relative;
  display: flex;
}
.five__section__tittle {
  width: 638px;
  height: 134px;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 67px;
  margin: 0 auto;
  text-align: center;
  color: #000000;
  margin-bottom: 36px;
}
.five__section__description__box {
  width: 800px;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  margin-bottom: 20px;
  list-style: none;
  padding-top: 58px;
  padding-left: 45px;
  margin: 0 auto;
}
.five__section__description:nth-of-type(1) {
  background: #20202a;
}
.five__section__description:nth-of-type(1) p {
  color: #ffffff;
}
.five__section__description:nth-of-type(1) h3 {
  color: #fd6b00;
}

.five__section__description {
  width: 350px;
  height: 220px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.five__section__description h3::after {
  content: '';
  position: absolute;
  z-index: 5;
  display: inline-block;
  width: 300px;
  top: 66px;
  left: -27px;
  height: 2px;
  background-color: #fd6b00;
}

.five__section__description h3 {
  position: relative;
  width: 126px;
  height: 54px;
  font-size: 26px;
  line-height: 54px;
  padding-left: 39px;
  padding-top: 10px;
  color: black;
  margin-bottom: 12px;
}
.five__section__description p {
  width: 278px;
  height: 92px;
  font-size: 14px;
  font-weight: 100;
  padding-top: 27px;
  line-height: 21px;
  color: black;
}

.iphone__img__rozetka {
  position: absolute;
  left: 53.5%;
}

/*  ============Six Section============  */
.six__section {
  padding-top: 50px;
  width: 1920px;
  height: 497px;
  background-image: url('./img/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.six__section__tittle {
  padding-top: 66px;
  width: 964px;
  height: 134px;
  color: #ffffff;
  font-weight: 400;
  font-size: 60px;
  line-height: 67px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 120px;
}
.six__section__text {
  width: 840px;
  height: 80px;
  font-size: 29px;
  font-weight: 300;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}
.six__section__orange__span {
  color: #fd6b00;
}
.six__section__green__span {
  color: #00a046;
}

/*  ============Seven Section============  */

.seven__section {
  width: 1920px;
  height: auto;
}
.seven__section__content__box {
  display: flex;
}
.seven__section__tittle {
  width: 810px;
  height: 67px;
  font-size: 59px;
  line-height: 67px;
  margin: 0 auto;
  padding-top: 123px;
  text-align: center;
  margin-bottom: 110px;
}
.seven__section__right__box {
  width: 850px;
}
.module__nav {
  width: 835px;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.module__nav li {
  width: 149px;
  height: 51px;
  font-weight: 500;
  font-size: 18px;
  padding-top: 15px;
  line-height: 26px;
  text-align: center;
  align-content: center;
}
.module__nav li:hover {
  width: 149px;
  height: 51px;
  background-image: url('./img/Layer\ 6583\ 1.png');
  background-size: cover;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.module__nav li:link {
  width: 149px;
  height: 51px;
  background-image: url('./img/Layer\ 6583\ 1.png');
  background-size: cover;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.module__nav__box {
  width: 836px;
  height: 327px;
  background: #ffffff;
  box-shadow: 3px 0px 55px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  margin-bottom: 40px;
}
.seven__section__description {
  width: 425px;
  font-weight: 500;
  font-size: 29px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  color: #fd6b00;
  padding-top: 45px;
  margin-bottom: 30px;
}
.seven__section__text {
  width: 280px;
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.seven__section__text2 {
  width: 532px;
  height: 52px;
  font-weight: normal;
  font-size: 17px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
}
.seven__section__button {
  display: block;
  width: 300px;
  height: 60px;
  margin: 0 auto;
  font-size: 18px;
  background: linear-gradient(90deg, #fc4647 0%, #f06603 100%);
  box-shadow: 0px 10px 30px rgba(252, 70, 71, 0.6);
  border-radius: 40px;
  color: #fff;
  cursor: pointer;
}
/*  ============Eight Section============  */
.eight__section {
  width: 1920px;
  height: auto;
  padding-top: 90px;
}
.eight__section__container {
  width: 1185px;
  margin: 0 auto;
}
.eight__section__tittle {
  width: 988px;
  height: 67px;
  font-size: 60px;
  line-height: 67px;
  text-align: center;
  margin: 0 auto;
  padding-left: 72px;
  margin-bottom: 48px;
}
.eight__section__content {
  display: flex;
}
.eight__section__navbar {
  width: 450px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  list-style: none;
  padding-left: 47px;
}
.eight__section__nav__item {
  width: 400px;
  height: 80px;
  display: flex;
  background: #ffffff;
  box-shadow: 0px 20px 20px rgba(17, 47, 93, 0.2);
  border-radius: 10px;
  margin-bottom: 20px;
  padding-left: 26px;
}
.eight__section__nav__item:nth-of-type(4) {
  display: flex;
  flex-flow: wrap;
  width: 400px;
  height: 182px;
  background-color: #24263a;
  color: #ffffff;
  font-weight: 200;
}
.eight__section__nav__item:nth-of-type(4) h3 {
  color: #fd6b00;
  width: 280px;
  padding-left: 35px;
  font-weight: 400;
  font-size: 18px;
  padding-top: 12px;
  line-height: 26px;
}
.eight__section__nav__item:nth-of-type(4) p {
  color: #ffffff;
  font-size: 13px;
  width: 394px;
  padding-left: 1px;
  line-height: 30px;
}
.eight__section__nav__item:nth-of-type(5) p {
  padding-top: 12px;
}
.eight__section__text {
  width: 280px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  padding-left: 30px;
  align-items: center;
  display: flex;
}
.macbook3__img {
  width: 774px;
  height: 462px;
  padding-top: 77px;
  padding-left: 10px;
  position: relative;
}
.eight__section__rozetka__logo {
  position: absolute;
  top: 98%;
  left: 9%;
}
/*  ============Nine  Section============  */

.nine__section {
  width: 1920px;
  height: auto;
  padding-top: 100px;
}
.nine__section__tittle {
  width: 682px;
  height: 48px;
  font-weight: 800;
  font-size: 60px;
  line-height: 54px;
  margin: 0 auto;
  padding-left: 51px;
  margin-bottom: 155px;
}
.nine__section__container {
  width: 1240px;
  height: auto;
  margin: 0 auto;
}
.nine__section__content {
  display: flex;
  width: 1140px;
  margin: 0 auto;
}
.nine__section__photo {
  width: 590px;
  height: 648px;
  margin-right: 75px;
  background: #24263a;
  border-radius: 10px 10px 0 0;
  position: relative;
}
.nine__section__photo__man {
  width: 600px;
}
.dmitriy__photo {
  position: absolute;
  top: -19%;
  left: -4%;
  height: 826px;
  z-index: 2;
}
.nine__section__description {
  width: 590px;
  height: 160px;
  display: flex;
  background: #24263a;
  box-shadow: 0px 20px 20px rgba(75, 86, 127, 0.15);
  border-radius: 0px 0px 10px 10px;
}

.nine__section__right__description {
  width: 480px;
  height: 630px;
  background: #ffffff;
  box-shadow: 0px 40px 55px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  list-style: none;
}
.nine__section__text {
  width: 398px;
  height: 107px;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  padding-left: 29px;
  padding-top: 30px;
  color: #edeed4;
  margin-right: 75px;
}
.name__box {
  width: 480px;
  height: 120px;
  background-image: url('./img/Layer\ 6583\ 1.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0px;
}
.name__box__text1 {
  width: 100px;
  color: #ffffff;
  font-weight: 200;
  opacity: 0.6;
  padding-top: 30px;
  padding-left: 30px;
  text-transform: uppercase;
}
.name__box__text2 {
  width: 344px;
  font-weight: 700;
  font-size: 34px;
  line-height: 54px;
  padding-left: 35px;
  color: #ffffff;
}
.right__box__list {
  list-style: none;
  padding-left: 60px;
  padding-top: 40px;
}
.right__box__list li {
  width: 380px;
  margin-bottom: 36px;
}

/*  ============Ten  Section============  */
.ten__section {
  width: 1920px;
  height: 1200px;
  padding-top: 120px;
}
.ten__section__container {
  width: 1185px;
  height: auto;
  margin: 0 auto;
}
.ten__section__content {
  display: flex;
}
.ten__section__tittle {
  width: 358px;
  height: 67px;
  font-weight: bold;
  font-size: 60px;
  line-height: 67px;
  margin: 0 auto;
  margin-bottom: 47px;
  padding-left: 25px;
}
.ten__section__description {
  width: 765px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  padding-left: 33px;
  margin-bottom: 45px;
}
.ten__section__text1 {
  width: 654px;
  font-weight: 600;
  font-size: 29px;
  text-align: end;
  line-height: 35px;
  margin-bottom: 10px;
  margin-bottom: 14px;
}
.ten__left__box {
  position: relative;
  margin-right: 10px;
}

.rozetka__img__2 {
  position: absolute;
  left: 11%;
  top: 59%;
}

.ten__right__box {
  width: 400px;
  height: auto;
}
.ten__section__text2 {
  width: 390px;
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 32px;
  padding-left: 50px;
}
.ten__right__box__img {
  margin-bottom: 60px;
}

/* span decoration */
.ten__span__bold {
  font-weight: 600;
}
.ten__orange__span1 {
  color: #fd6b00;
}
.ten__orange__span2 {
  font-weight: 600;
  color: #fd6b00;
}
.ten__green__span {
  color: #00a046;
  font-weight: 400;
}

/*  ============Eleven  Section============  */
.eleven__section {
  width: 1920px;
  padding-top: 17px;
}
.eleven__section__container {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}
.eleven__tittle {
  width: 950px;
  font-size: 60px;
  line-height: 67px;
  font-size: 60px;
  line-height: 67px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.eleven__content {
  display: flex;
}
.eleven__section__list {
  width: 780px;
  font-weight: 200;
  font-size: 18px;
  line-height: 28px;
  list-style: none;
  padding-top: 95px;
  padding-left: 56px;
}
.eleven__right__box {
  position: relative;
}
.rozetka__logo__11 {
  position: absolute;
  top: 76%;
  left: 51%;
}

/*  ============twelve  Section============  */
.twelve__section {
  width: 1920px;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
.twelve__section__container {
  width: 1140px;
  height: auto;
  margin: 0 auto;
}
.twelve__section__tittle {
  width: 616px;
  font-weight: 700;
  font-size: 64px;
  line-height: 54px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}
.twelve__section__descr {
  width: 400px;
  font-size: 16px;
  line-height: 22px;
  color: #b4b4b2;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
}
.twelve__section__list {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  list-style: none;
}
.twelve__section__item {
  position: relative;
  display: flex;
  width: 550px;
  height: 80px;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 30px 40px rgba(75, 86, 127, 0.25);
  border-radius: 10px;
  margin-bottom: 40px;
}
.twelve__section__item:nth-of-type(3) {
  background: #24263a;
  display: flex;
  flex-flow: column;
  height: 366px;
  color: #edeed4;
}
.twelve__section__item:nth-of-type(3) .twelve__button {
  color: #edeed4;
  font-weight: 100;
  font-style: initial;
  top: 6%;
  left: 90%;
}
.twelve__section__item:nth-of-type(3) .twelve__section__text {
  width: 465px;
  display: flex;
  height: 80px;
  align-items: center;
  margin-bottom: 55px;
  font-weight: 400;
  padding: 0;
}
.twelve__section__text__black {
  width: 466px;
  font-weight: 100;
  font-size: 15px;
  line-height: 24px;
}
.twelve__section__text {
  height: 22px;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  padding-left: 42px;
}
.twelve__button {
  border: none;
  background-color: transparent;
  font-size: 40px;
  font-weight: 100;
  position: absolute;
  top: 20%;
  left: 90%;
  cursor: pointer;
}
.twelve__section__text__black p {
  margin-bottom: 20px;
}
/*  ============ Footer ============  */
.footer {
  width: 1920px;
  height: 437px;
  padding-top: 60px;
  background-image: url('./img/Group\ 92\ 2.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__container {
  width: 1140px;
  height: auto;
  margin: 0 auto;
}
.footer__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
/* ----------------left box -------------------- */
.footer__logo {
  width: 169px;
  height: 67.44px;
  margin-bottom: 15px;
}
.socials {
  width: 170px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.visa__box {
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.middle__footer__box {
  width: 310px;
  display: flex;
  justify-content: space-between;
}
.middle__footer__text1 {
  width: 113px;
  font-style: normal;
  font-size: 18px;
  line-height: 54px;
  color: #edeed4;
  text-transform: uppercase;
}
.middle__footer__text2 {
  width: 143px;
  font-style: normal;
  font-size: 18px;
  line-height: 54px;
  color: #edeed4;
  text-transform: uppercase;
}
.right__footer__box {
  width: 420px;
  display: flex;
  justify-content: space-between;
}
.footer__adress {
  color: #edeed4;
  width: 211px;
  font-style: normal;
  font-size: 18px;
}
.footer__adress p {
  line-height: 1.8;
}
.footer__tel {
  color: #edeed4;
  width: 200px;
  padding-top: 6px;
}
.footer__text__bold {
  font-style: normal;
  font-size: 18px;
  margin-bottom: 25px;
}
.footer__tel__bold {
  font-size: 23px;
  font-weight: 400;
  line-height: 2.4;
}
hr {
  margin-bottom: 25px;
}
.copiring {
  width: 100px;
  height: 40px;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  text-transform: capitalize;
  text-align: center;
  color: #edeed4;
  margin: 0 auto;
}
